.idea/
.git/
*.log
test/
bin/
_temp/
.DS_Store
.DS_Store/
vendor/


deleteme-prev-workingcode/
deleteme-working2/
test/
website/


#clean tf files ... has some issue still?
*.terraform/
*.terraform.lock.hcl
*/*/.terraform.lock.hcl
*/*/.terraform/
*/*/terraform.tfstate
*/*/terraform.tfstate.backup